@import "diamond/diamond.less";


/* Add additional stylesheets below
-------------------------------------------------- */

/* Comment list */
.commentlist p {
	padding: 5px;
	margin: 0;
}
.commentlist .priority {
	float:left;
	width: 36px;
	height: 36px;
	line-height: 36px;
	text-align:center;
}
.commentlist .priority p {
	padding: 0;
}
.commentlist .priority-2 {
	background:@red;
}
.commentlist .priority-1 {
	background:@orange;
}

.comment-description .inner {
	padding: 5px 36px;
}

.comment-description p {
	padding: 0;
	margin: 0 0 10px;
}

/*
@blue
@blueDark
@green
@greenDark
@yellow
@pink
@purple
@fushia
@lila
@gray
*/

/* Comment list colors */ 
.commentlist.gray .comment-head {
	background-color:@gray;
	border-top: 1px solid darken(@gray, 5%);
	border-bottom: 1px solid lighten(@gray, 5%);
	color:@white;
}
.commentlist.gray .comment-head:hover {
	background-color:darken(@gray, 5%);
}
.commentlist.gray .comment-description {
	background-color:lighten(@gray, 20%);
}

.commentlist.lila .comment-head {
	background-color:@lila;
	border-top: 1px solid darken(@lila, 5%);
	border-bottom: 1px solid lighten(@lila, 5%);
	color:@white;
}
.commentlist.lila .comment-head:hover {
	background-color:darken(@lila, 5%);
}
.commentlist.lila .comment-description {
	background-color:lighten(@lila, 20%);
}

.commentlist.fushia .comment-head {
	background-color:@fushia;
	border-top: 1px solid darken(@fushia, 5%);
	border-bottom: 1px solid lighten(@fushia, 5%);
	color:@white;
}
.commentlist.fushia .comment-head:hover {
	background-color:darken(@fushia, 5%);
}
.commentlist.fushia .comment-description {
	background-color:lighten(@fushia, 20%);
}

.commentlist.purple .comment-head {
	background-color:@purple;
	border-top: 1px solid darken(@purple, 5%);
	border-bottom: 1px solid lighten(@purple, 5%);
	color:@white;
}
.commentlist.purple .comment-head:hover {
	background-color:darken(@purple, 5%);
}
.commentlist.purple .comment-description {
	background-color:lighten(@purple, 20%);
}

.commentlist.yellow .comment-head {
	background-color:@yellow;
	border-top: 1px solid darken(@yellow, 5%);
	border-bottom: 1px solid lighten(@yellow, 5%);
	color:@white;
}
.commentlist.yellow .comment-head:hover {
	background-color:darken(@yellow, 5%);
}
.commentlist.yellow .comment-description {
	background-color:lighten(@yellow, 20%);
}

.commentlist.greendark .comment-head {
	background-color:@greenDark;
	border-top: 1px solid darken(@greenDark, 5%);
	border-bottom: 1px solid lighten(@greenDark, 5%);
	color:@white;
}
.commentlist.greendark .comment-head:hover {
	background-color:darken(@greenDark, 5%);
}
.commentlist.greendark .comment-description {
	background-color:lighten(@greenDark, 20%);
}

.commentlist.green .comment-head {
	background-color:@green;
	border-top: 1px solid darken(@green, 5%);
	border-bottom: 1px solid lighten(@green, 5%);
	color:@white;
}
.commentlist.green .comment-head:hover {
	background-color:darken(@green, 5%);
}
.commentlist.green .comment-description {
	background-color:lighten(@green, 20%);
}

.commentlist.bluedark .comment-head {
	background-color:@blueDark;
	border-top: 1px solid darken(@blueDark, 5%);
	border-bottom: 1px solid lighten(@blueDark, 5%);
	color:@white;
}
.commentlist.bluedark .comment-head:hover {
	background-color:darken(@blueDark, 5%);
}
.commentlist.bluedark .comment-description {
	background-color:lighten(@blueDark, 20%);
}

.commentlist.blue .comment-head {
	background-color:@blue;
	border-top: 1px solid darken(@blue, 5%);
	border-bottom: 1px solid lighten(@blue, 5%);
	color:@white;
}
.commentlist.blue .comment-head:hover {
	background-color:darken(@blue, 5%);
}
.commentlist.blue .comment-description {
	background-color:lighten(@blue, 20%);
}

.commentlist.pink .comment-head {
	background-color:@pink;
	border-top: 1px solid darken(@pink, 5%);
	border-bottom: 1px solid lighten(@pink, 5%);
	color:@white;
}
.commentlist.pink .comment-head:hover {
	background-color:darken(@pink, 5%);
}
.commentlist.pink .comment-description {
	background-color:lighten(@pink, 20%);
}



